@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 0;
  margin: 0;
  font-family: var(--font-roboto-mono);
}

h1,
h2 {
  font-family: "Satoshi-Medium", var(--font-roboto-mono);
}

h3 {
  font-family: "Satoshi-Regular", var(--font-roboto-mono);
}
